@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "american-years";
  src:
    local("american-years"),
    url("../fonts/ayears.otf") format("opentype");
}
.contain {
  margin: 0px auto;
  width: 90%;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);
  height: 100vh;
}
img {
  width: 100%;
  object-fit: cover;
}
h1, h2 {
  font-family: 'american-years';
}
h1 {
  font-size: 20vw;
  background: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-clip: text;
  color: transparent;
  position: relative;
}
h2 {
  font-size: 5vw;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1530104091755-015d31dfa0b9?q=80&w=3818&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  .card {
    background-color: #fe936d;
    padding: 40px 100px;
    border: 20px ridge #fe936d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}