@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1, h2 {
  font-family: "Berkshire Swash", serif;
  color: #028391;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
p, li, a {
  font-size: 1.125rem;
}

main {
    background: #fff0;
}
main .contain {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    .img-contain {
      width: 100%;
      height: 100%;
    }
    article {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-auto-rows: 1fr 1fr;
      gap: 25px;
      justify-content: center;
      align-content: center;
      padding: 50px 100px;
      p {
        border: 0.5px solid #ff0000;
        padding: 15px;
        box-shadow: 0px 0px 10px #ff000055;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
      }
    }
}