@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contain {
  margin: 0px auto;
  width: 90%;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: #bdf1ff52;
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);
  height: 100vh;
}
img {
  width: 100%;
  object-fit: cover;
}
h1, h2 {
  font-family: 'Abril Fatface';
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

header {
  padding: 25px 0px;
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p:first-of-type {
    margin: 10px 0px 5px;
    max-width: 500px;
    font-size: 1.5rem;
  }
  p:last-of-type {
    font-style: italic;
    font-size: 1.5rem;
    opacity: 0.7;
  }
}

main {
  display: flex;
  gap: 50px;
  height: 100%;
}
.contain.a, .contain.b {
  flex: 1;
}

.contain.a {
  margin-left: 50px;
  font-size: 1.5rem;
  #greeting {
    margin: 15px 0px 25px;
    span {
      color: #f2641d;
      font-weight: 800;
      font-size: 1.25em;
      margin-bottom: 5px;
      display: block;
    }
  }
  ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 25px;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 25px;
    margin: 25px 0px 0px;
    .btn {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid #f2641d;
      box-shadow: 2px 2px 0px #f2641d;
      color: #f2641d;
      padding: 25px;
      text-decoration: none;
      gap: 15px;
      transition: 0.5s all;
      img {
        width: 60px;
      }
      &:first-child {
        flex: 100%;
      }
      &:hover {
        background-color: #f2641d;
        color: #fff;
        box-shadow: none;
      }
    }
  }
}

.contain.b {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 95%;
  margin-right: 50px;
  .overlay {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #bdf1ff55;
    backdrop-filter: blur(12px);
  }
  #fun {
    display: grid;
    grid-template-rows: max-content 1fr;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 25px;
    position: relative;
    z-index: 1;
    color: #111;
    min-height: 0;
    height: 100%;
    gap: 25px;
    .img-cont {
      min-height: 0;
      img {
        height: 100%;
        display: block;
      }
    }
    h2 {
      color: #ae0d4d;
    }
    p {
      font-size: 1.5rem;
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-rows: max-content auto;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  
  header p {
    font-size: 1rem;
  }
  #attendance p {
    font-size: 1rem;
  }
  
  main {
    flex-direction: column;
    height: auto;
  }
  
  .contain.a {
    margin: 0px auto;
    font-size: 1rem;
  }
  
  .contain.b {
    height: 800px;
    margin: 0px auto 50px;
    #fun p {
      font-size: 1rem;
    }
  }
}