.absolute-heading {
    font-size: 36px;
}
.absolute-paragraph {
    font-size: 18px;
}

.relative-heading {
    font-size: 5vw;
}
.relative-paragraph {
    font-size: 2.5vw;
}

.absolute-image {
    width: 200px;
}

.relative-image {
    width: 100%;
}

/* PRACTICAL */
.outer-container {
    background-color: green;
}
.inner-container {
    width: 80%;
    margin: 0px auto;
    max-width: 1200px;
    padding: 25px 0px;
}
div.inner-container p, .inner-container img {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    color: white;
}