* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h2 {
    margin-top: 25px;
}
#p1-heading {
    font-family: cursive;
    text-align: center;
}
#p2-heading {
    font-family: monospace;
    text-align: center;
}
#p3-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.cyard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;
    gap: 25px;
    div {
        flex: 1 150px;
        padding: 25px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border: 20px ridge;
    }
}


#p1-c1 {
    background-color: #7ed5a8;
    border-color: #7ed5a8;
    color: #014321;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p1-c2 {
    background-color: #A09EFF;
    border-color: #A09EFF;
    color: #222;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p1-c3 {
    background-color: #d99d4c;
    border-color: #d99d4c;
    color: #222;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}

#p2-c1 {
    background-color: #FF004F;
    border-color: #FF004F;
    color: #014321;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p2-c2 {
    background-color: #e29898;
    border-color: #e29898;
    color: #014321;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p2-c3 {
    background-color: #f3eed9;
    border-color: #f3eed9;
    color: #014321;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p2-c4 {
    background-color: #798897;
    border-color: #798897;
    color: #eee;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}

#p3-c1 {
    background-color: #40009a;
    border-color: #40009a;
    color: #ff3a3a;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p3-c2 {
    background-color: #40009a55;
    border-color: #40009a55;
    color: #014321;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
#p3-c3 {
    background-color: #40009a11;
    border-color: #40009a11;
    color: #014321;
    font-family: cursive;
    text-align: center;
    padding: 24px;
}