/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.mauve {
    background-color: #C25E5E;
    border-color: #C25E5E;
}

.pop-blue {
    background-color: #00C4FF;
    border-color: #00C4FF;
}

.lipstick {
    background-color: #FF7378;
    border-color: #FF7378;
}

.sandalwood {
    background-color: #F3EED9;
    border-color: #F3EED9;
}

.forest {
    background-color: #728434;
    border-color: #728434;
}

.empty {
    background-color: transparent;
    border-color: transparent;
}

.long {
    padding: 20px 52px;
}

.lemon {
    border-radius: 50% 10px 50% 10px;
    border-style: groove;
}