/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.blue {
    background-color: #3B83BD;
    border-color: #3B83BD;
}

.gold {
    background-color: #E19E20;
    border-color: #E19E20;
}

.navy {
    background-color: #002756;
    border-color: #002756;
}

.ivory {
    background-color: #E6F4F1;
    border-color: #E6F4F1;
}

.rando {
    background-color: #3D8B83;
    border-color: #3D8B83;
}