* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url(../images/lizard.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#hero-1 h1 {
    font-size: 15vw;
    padding-left: 10vw;
}

.spacer {
    height: 50vh;
    background-image: url(../images/emerald-seas.jpg
    );
    background-size: cover;
    background-attachment: fixed;
}

#hero-2 {
    background-image: url(../images/lonely-ocean.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}
#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}
#hero-2 a, #hero-3 a, #hero-4 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#hero-3 {
    background-image: url(../images/orange-wildflowers.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

#hero-4 {
    background-image: url(../images/stars-on-velvet.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#hero-4 .hero-content {
    text-align: center;
    padding-top: 20vh;
    div {
        display: flex;
        gap: 24px;
    }
    a {
        background-color: white;
        color: black;
        flex: 1;
        margin: 0px;
    }
}

#head {
    padding: 50px 0px;
    text-align: center;
    border-top: 5px solid #ff9500;
    border-bottom: 5px solid #ff9500;
    a {
        display: block;
        border: 0.5px solid #ff9500;
        max-width: 250px;
        margin: 0px auto;
        padding: 10px 20px;
        color: #ff9500;
        text-decoration: none;
        box-shadow:
            inset 0px 0px 10px #ff9500,
            0px 0px 10px #ff9500;
    }
}


#hero-5 {
    background:
        linear-gradient(180deg, #1110, #ff4545),
        url(../images/misty-mountains.jpg)
    ;
    height: 100vh;
    background-size: cover;
}

.so {
    background-color: #ff4545;
    padding: 50px;
}